
  ssl:
    mode: preferSSL
    PEMKeyFile: /etc/mongodb/ssl/{{ ansible_hostname }}.pem
    CAFile: /etc/mongodb/ssl/mongoCA.crt
    clusterFile: /etc/mongodb/ssl/{{ ansible_hostname }}.pem
security:
  authorization: enabled
  clusterAuthMode: x509
